@model WebApplication1.Models.Persona

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Persona</title>
</head>
<body>
    <div> 
        <label>Mi nombre: @Model.nombre </label> <br />
        <label>Mi apellido: @Model.apellido</label><br />
        <label>Mi edad: @Model.edad</label><br />
    </div>
</body>
</html>
